.ui-dialog { z-index: 1000 !important ;}
.explorerpane { display: none; }
.filterGroupsPane{ display: none;}
.accordianValues{ height: 90px; }
#sticky-social { z-index: 1000 !important;}
.filterText { display: none; }

.viewerDialogs {
    height: 350px;
    overflow: auto;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.parametersPane {
    height: 70px;
    display: none;
}

.filtersContent {
    display: none;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

@media (max-width: 1200px) {
    body {
        font-size:90%;
    }
    h1 {
        font-size:4.3em;
    }
    p {
        font-size:1.3em;
    }
    header {
        height:80px;
    }
    header .logo {
        margin-top:12px;
        width:200px;
    }
    header nav {
        margin-top:11px;
    }
    header nav ul li {
        margin-right:12px;
    }
    header nav ul li a {
        border-radius:23px;
        font-size: 1.3em;
        padding:10px 12px;
    }
    .wrap {
        padding:0 30px;
    }
    .paddRow .close {
        right:30px;
    }
}
@media (max-width: 900px) {
    .contactForm {
        width:100%;
    }
}
@media (max-width: 768px) {
    body {
        font-size:80%;
        margin:0;
    }
    h1 {
        font-size:4em;
    }
    header {
        height:70px;
    }
    header .logo {
        margin-top:20px;
        width:70px;
    }
    header nav {
        margin-top:8px;
    }
    header nav ul li {
        margin-right:5px;
    }
    header nav ul li a {
        border-radius:20px;
        font-size:1.1em;
        padding:8px;
    }
    .wrap {
        padding:0 15px;
    }
    .projectObj .name {
        font-size:3em;
    }
    .paddRow {
        padding-bottom:30px;
    }
    .paddRow .head {
        font-size:3em;
        margin:30px 0;
    }
    .paddRow .close {
        right:20px;
        top:60px;
        width:30px;
    }
    .projectHead .picture {
        width:67%;
    }
    .projectHead .picture.right {
        margin-right:16.5%;
    }
    .projectHead .text {
        position:static;
        width:100%;
    }
    .projectHead .centerText {
        width:70%;
    }
    .view-enter,.view-leave {
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
    }
}
@media (max-width: 480px) {
    body {
        font-size:70%;
        margin:0;
    }
    header {
        height:50px;
    }
    header .logo {
        display:none;
    }
    header nav {
        margin-top:3px;
    }
    header nav ul li {
        margin-right:3px;
    }
    header nav ul li a {
        border-radius:20px;
        font-size:1.3em;
        padding:5px 14px;
    }
    #contactBtn {
        display:none;
    }
    .wrap {
        padding:0 10px;
    }
    .paddRow {
        padding-bottom:20px;
    }
    .paddRow .head {
        margin:20px 0;
    }
    .paddRow .close {
        right:10px;
        top:45px;
        width:20px;
    }
    .about .image {
        margin:10% auto;
        width:60%;
    }
    .about .abIcon {
        display:inline;
    }
    .projectHead .centerText {
        width:90%;
    }
    .about .txt,.input {
        width:100%;
    }
    .about .flLeft,.about .flRight,.input.email {
        float:none;
    }
}























@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.socialContainer {
    margin: 0 auto;
    padding: 20px 50px;
    background: white;
}
#sticky-social {
    left: 0;
    position: fixed;
    top: 150px;
}
#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}
#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align:center;
    width:120px;
}
#sticky-social a:hover span {
    left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #dd4b39; }

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #517fa4; }

#sticky-social a[class*="stumbleupon"],
#sticky-social a[class*="stumbleupon"]:hover,
#sticky-social a[class*="stumbleupon"] span { background: #eb4924; }

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"]:hover,
#sticky-social a[class*="pinterest"] span { background: #cc2127; }

#sticky-social a[class*="flickr"],
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span { background: #ff0084; }

#sticky-social a[class*="tumblr"],
#sticky-social a[class*="tumblr"]:hover,
#sticky-social a[class*="tumblr"] span { background: #32506d; }