<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ '%PROJECTNAME%' | projectname }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle toolbarButtons parametersDropDown" id="exportDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="xls.doExport($event)" class="exportOption" href="" id="exportXls"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel (XLS)</a></li>
                        <li><a class="exportOption" href="" id="exportXlsx"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel (XLSX)</a></li>
                        <li><a class="exportOption" href="" id="exportPdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
                        <li><a class="exportOption" href="" id="exportPs"><i class="fa fa-paragraph" aria-hidden="true"></i> PostScript (PS)</a></li>
                        <li><a class="exportOption" href="" id="exportPpt"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> PowerPoint (PPT)</a></li>
                        <li><a class="exportOption" href="" id="exportPptx"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> PowerPoint (PPTX)</a></li>
                        <li><a class="exportOption" href="" id="exportDoc"><i class="fa fa-file-word-o" aria-hidden="true"></i> Word (DOC)</a></li>
                        <li><a class="exportOption" href="" id="exportDocx"><i class="fa fa-file-word-o" aria-hidden="true"></i> Word (DOCX)</a></li>
                        <li><a class="exportOption" href="" id="exportXhtml"><i class="fa fa-internet-explorer" aria-hidden="true"></i> XHTML</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-print toPrinter" aria-hidden="true"></i> Print</a></li>
                    </ul>
                </li>
                <li><a ng-click="openDialog.doOpen($event)" href="" class="toolbarButtons" id="openReport"><medium class="text-muted">Open Report</medium></a></li>
                <li><a href="" ng-click="saveDialog.doOpen()" class="toolbarButtons" id="save" href=""><medium class="text-muted">Save</medium></a></li>
                <li class="dropdown">
                    <!--<a href="#" class="dropdown-toggle toolbarButtons parametersDropDown" id="filterGroupsDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><medium class="text-muted">Filters <span class="caret"></span></medium></a>-->
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle parametersDropDown" id="parametersDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><medium class="text-muted">Filters <span class="caret"></span></medium></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle parametersDropDown" id="parametersDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><medium class="text-muted">Parameters <span class="caret"></span></medium></a>
                </li>
                <li><a href="" class="toolbarButtons" ng-click="helpDialog.doOpen($event)" id="help"><medium class="text-muted">Help</medium></a></li>
            </ul>
            <div class="pull-right">
                <table>
                    <tr>
                        <td style="padding: 5px 10px 5px 5px;"><small id="reportName" class="text-muted">Please open a report</small></td>
                        <td style="padding: 5px 0px 5px 5px;"><a ng-click="moveBackwardAll.doMove()" class="navigation" id="firstPageLink" class="navbar-brand" href=""><i class="fa fa-step-backward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 5px 5px 5px;"><a ng-click="moveBackwardOne.doMove()" class="navigation" id="prevPage" class="navbar-brand" href=""><i class="fa fa-backward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 5px 5px 5px;"><a class="navigation" id="pageN" class="navbar-brand" href=""></a></td>
                        <td style="padding: 5px 5px 5px 5px;"><a class="navigation" id="pageOf" class="navbar-brand" href=""></a></td>
                        <td style="padding: 5px 5px 5px 5px;"><a class="navigation" id="pageM" class="navbar-brand" href=""><div id="lastPage"></div></a></td>
                        <td style="padding: 5px 0px 5px 5px;"><a ng-click="moveForwardOne.doMove()" class="navigation" id="nextPage" class="navbar-brand" href=""><i class="fa fa-forward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a ng-click="moveForwardAll()" class="navigation" id="lastPageLink" class="navbar-brand" href=""><i class="fa fa-step-forward" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>