<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ '%PROJECTNAME%' | projectname }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle parametersDropDown" id="exportDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="" id="exportXls"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel (XLS)</a></li>
                        <li><a href="" id="exportXlsx"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel (XLSX)</a></li>
                        <li><a href="" id="exportPdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
                        <li><a href="" id="exportPs"><i class="fa fa-paragraph" aria-hidden="true"></i> PostScript (PS)</a></li>
                        <li><a href="" id="exportPpt"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> PowerPoint (PPT)</a></li>
                        <li><a href="" id="exportPptx"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> PowerPoint (PPTX)</a></li>
                        <li><a href="" id="exportDoc"><i class="fa fa-file-word-o" aria-hidden="true"></i> Word (DOC)</a></li>
                        <li><a href="" id="exportDocx"><i class="fa fa-file-word-o" aria-hidden="true"></i> Word (DOCX)</a></li>
                        <li><a href="" id="exportXhtml"><i class="fa fa-internet-explorer" aria-hidden="true"></i> XHTML</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-print toPrinter" aria-hidden="true"></i> Print</a></li>
                    </ul>
                </li>
                <li class="active"><a class="test1" href="#">Home</a></li>
                <li><a href="#about" class="openReport" id="openReport">Open Report</a></li>
                <li><a href="#save" href="#">Save</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle parametersDropDown" id="parametersDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parameters <span class="caret"></span></a>
                </li>
                <li><a href="#help">Help</a></li>
            </ul>
            <div class="pull-right">
                <table>
                    <tr>
                        <td style="padding: 5px 10px 5px 5px;"><div id="reportName">Please open a report</div></td>
                        <td style="padding: 5px 0px 5px 5px;"><a id="firstPageLink" class="navbar-brand" href=""><i class="fa fa-step-backward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a id="prevPage" class="navbar-brand" href=""><i class="fa fa-backward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a id="pageN" class="navbar-brand" href=""></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a id="pageOf" class="navbar-brand" href=""></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a id="pageM" class="navbar-brand" href=""><div id="lastPage"></div></a></td>
                        <td style="padding: 5px 0px 5px 5px;"><a id="nextPage" class="navbar-brand" href=""><i class="fa fa-forward" aria-hidden="true"></i></a></td>
                        <td style="padding: 5px 10px 5px 5px;"><a id="lastPageLink" class="navbar-brand" href=""><i class="fa fa-step-forward" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>