<nav class="navbar navbar-default navbar-lower parametersPane" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse collapse-buttons">
            <form class="navbar-form navbar-left" role="search" id="renderedParameters">
            </form>
            <br/>
            <div>
                <button class="btn btn-success" id="execute">Execute</button><button class="btn btn-success execute" id="cancel">Cancel</button>
            </div>
        </div>
    </div>
</nav>
<div id="params" style="display: none;"></div>
<div class="container">
    <div class="row">
        <div class="filler"></div>
    </div>
</div>