<nav class="navbar navbar-default navbar-lower parametersPane" role="navigation">
    <div class="parametersContainer">
        <div class="collapse navbar-collapse collapse-buttons">
            <form class="navbar-form navbar-left" role="search" id="renderedParameters">
            </form>
            <br/>
            <div id="parametersContent">
                <button class="btn btn-success parameterButtons" id="execute">Execute</button><button class="btn btn-success execute parameterButtons" id="cancelParameters">Cancel</button>
                <div id="accordionGroups">
                    <h3><label><input type="checkbox" value="true" checked> Filter Patient Informaition <button class="btn btn-success" id="filterFilter">Filter</button></label></h3>
                    <div class="accordianValues">
                        <p>
                            <label><input class="filterSelector" type="checkbox" id="chkLastName" checked> Last name</label><br/>
                            <input class="filterText" value="Young" type="text" name="LASTNAME" class="form-control" id="lastName" checked><br/>
                            <label><input class="filterSelector" type="checkbox" value="" id="chkFirstName"> First name</label><br>
                            <input class="filterText" type="text" name="FIRSTNAME" class="form-control" id="firstName"><br/>
                            <label><input class="filterSelector" type="checkbox" value="" id="chkCity"> City</label><br/>
                            <input class="filterText" type="text" name="CITY" class="form-control" id="city"><br/>
                            <label><input class="filterSelector" type="checkbox" value="" id="chkState"> State</label><br/>
                            <input class="filterText" type="text" name="STATE" class="form-control" id="state"><br/>
                        </p>
                    </div>
                    <h3><label><input type="checkbox" value="" checked> Hide patient columns <button class="btn btn-success" id="filterHide">Filter</button><br></label></h3>
                    <div class="accordianValues">
                        <p>
                            <label><input type="checkbox" value="" checked> Customer Number</label><br/>
                            <label><input type="checkbox" value="" checked> State</label><br/>
                            <label><input type="checkbox" value=""> City</label><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div>
        </div>
    </div>
</nav>
<div id="params" style="display: none;"></div>